.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-secondary:hover {
    background-color: var(--secondary-background-color);
}

