.buttonfavorite{
    background-color: var(--button-background-hover-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.buttonfavorite > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
