.buttonprofile{
    background-color: var(--profile-background);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
}
.buttonprofile:hover{
    cursor: pointer;
}
.buttonprofile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}
