.card{
    width: 300px;
    height: 400px;
    background-color: var(--background-card-color);
    border-radius: 30px;
    box-shadow: 0 0 10px 0 var(--shadow-color-card);
    position: relative;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.favorite{
    color: var(--favorite-color-card-color);
    -webkit-text-stroke: 2px var(--favorite-stroke-card-color);
    font-size: 40px;
    position: absolute;
    top: 5%;
    right: 10%;
}
.favorite:hover{
    cursor: pointer;
    color: var(--favorite-color-card-hover-color);
    -webkit-text-stroke: 2px var(--favorite-stroke-card-hover-color);
}
.top > img {
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
    margin: 10% auto 0;
    border: 3px solid var(--imagen-card-shadow);
    position: relative;
    aspect-ratio: 1;
}

.middle{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 20%;
}   
.title{
    font-size: 1.2em;
    text-align: center;
    color: var(--color-card);
}
.description{
    color: var(--color-card-description);
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.description > .time{
    color: var(--color-card-description-color);
}
.description > .calificacion{
    color: var(--color-card-description-color);
}
.star{
    color: var(--star-card-color);
    font-size: 1.3em;
}
.star:hover{
    cursor: pointer;
    color: var(--star-card-color-hover);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 10%;
}
.price{
    font-size: 1em;
    margin: 0 0 15% 15%;
}
.bottom > .buttonaddcart {
    position: absolute;
    right: 0;
    width: 30%;
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    cursor: pointer;
}