.card{
    width: 300px;
    height: 400px;
    background-color: var(--background-card);
    border-radius: 30px;
    box-shadow: 0 0 10px 0 var(--shadow-color-card);
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.favorite{
    color: var(--favorite-color-card);
    -webkit-text-stroke: 2px var(--favorite-stroke-card);
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 20px;
}
.favorite:hover{
    cursor: pointer;
    color: var(--favorite-color-card-hover);
    -webkit-text-stroke: 2px var(--favorite-color-card-hover);
}
.top > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px auto 0px auto;
    border: 3px solid var(--imagen-card-shadow);
}

.middle{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}   
.title{
    font-size: 30px;
    text-align: center;
    color: var(--color-card);
}
.description{
    color: var(--color-card-description);
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 90px;
}
.time{
    font-size: 25px;
    margin-left: 20px;
}
.calificacion{
    font-size: 25px;
    margin-right: 20px;
}
.star{
    color: var(--star-card-color);
    font-size: 35px;
}
.star:hover{
    cursor: pointer;
    color: var(--star-card-color-hover);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.price{
    font-size: 25px;
    margin: 0px 0px 34px 30px;
}